[submodule "docs/coding-standards"]
	path = docs/coding-standards
	url = git@github.com:XsafiD/flask-coding-standards.git
[submodule "docs/xsadev-kit"]
	path = docs/xsadev-kit
	url = git@github.com:XsafiD/xsadev-kit.git
